body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container h1 {
    margin: 0;
}

nav a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.square {
    border: 1px solid #000;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
}

#scrap1-info {
    background-color: #f0f0f0;
}

#scrap2-info {
    background-color: #e0e0e0;
}

/* Estilos específicos para los juegos */
.juego {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.juego:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

#chart-container {
    margin-top: 20px;
}
