<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peores Juegos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Portal de Juegos</h1>
            <nav>
                <a href="{{ url_for('index') }}" class="btn">Inicio</a>
                <a href="{{ url_for('top_juegos') }}" class="btn">Top Juegos</a>
                <a href="{{ url_for('peores_juegos') }}" class="btn">Peores Juegos</a>
            </nav>
        </div>
    </header>
    <div class="container">
        <h2>Peores Juegos</h2>
        <!-- Contenido de la página de Peores Juegos -->
    </div>
</body>
</html>
